*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #e2e2e2;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  overflow-x: hidden;
}
header {
  height: 219px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.head-container {
  height: 72px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
}
.logo {
  display: flex;
  align-items: center;
}
.logo i {
  font-size: 1.625rem;
  margin-right: 20px;
}
.logo img {
  width: 47px;
  height: 47px;
  margin-right: 10px;
}
.logo span {
  font-size: 1.688rem;
  font-weight: 400;
  color: #e95f62;
}
nav {
  width: 60%;
  display: flex;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
nav li {
  font-size: 1.25rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}
nav li img {
  margin-left: 5px;
  display: flex;
  justify-content: center;
}

nav ul li:nth-child(6) p {
  display: flex;
  flex-direction: column;
  align-items: end;
}
nav ul li:nth-child(6) span:nth-child(1) {
  font-size: 0.938rem;
  font-weight: 400;
}
nav ul li:nth-child(6) span:nth-child(2) {
  font-size: 0.688rem;
  font-weight: 400;
  color: rgb(119, 119, 119);
}
.bars {
  height: 58px;
  display: flex;
  justify-content: space-evenly;
}
.label-1 {
  width: 60%;
  position: relative;
}
.label-1 input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 9px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-left: 3.438rem;
}
.label-1 input::placeholder {
  color: grey;
  font-size: 1.5rem;
  font-weight: 400;
}
.label-1 .fa-magnifying-glass {
  position: absolute;
  left: 18px;
  top: 17px;
  font-size: 1.25rem;
  color: gray;
}
.label-1 .fa-bars{
  position: absolute;
  right: 18px;
  top: 17px;
  font-size: 1.25rem;
  color: gray;
}

.select-btn {
  width: 20%;
  background-color: #e95f62;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.select-btn i {
  color: #fff;
  margin-right: 10px;
}
select {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 500;
}
option {
  padding: 0.313rem 0.625rem;
  font-size: 1rem;
  background-color: #ffffff;
  color: #000000;
}

.grocery-img {
  background-image: url("../images/grocery-app.png");
  margin-bottom: 157px;
  width: 100%;
  height: 332px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.grocery-img .img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(0, 100px);
}
.grocery-img .img-container div {
  width: 84px;
  height: 83px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.grocery-img .img-container span {
  font-size: 1.25rem;
  font-weight: 700;
  width: 160px;
  height: 50px;
  text-align: center;
}
.carousel-1 {
  height: 232px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.625rem;
  margin-bottom: 63px;
}

.arrow-icon {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #e0e0e0;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-icon i {
  font-size: 1.875rem;
}
.carousel-1-products {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.carousel-1-products div {
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.carousel-1-products span {
  width: 107px;
  height: 43px;
  text-align: center;
  font-size: 0.938rem;
  font-weight: 700;
  margin-top: 1rem;
}

.offers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Rectangles {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
.Rectangles img {
  width: 31%;
}
.Rectangles img:nth-child(2) {
  width: 33%;
}
.carousel-btns {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
.carousel-btns button {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  outline: none;
  border: none;
}
.carousel-btns button:nth-child(3) {
  width: 19px;
  height: 19px;
  background: rgba(23, 23, 23, 0.7);
}
.sec-2 {
  margin-top: 70px;
}
.product-section {
  margin-bottom: 85px;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 0 1.563rem;
  margin-bottom: 25px;
}
.title h2 {
  font-size: 1.875rem;
  font-weight: 700;
}
.title a {
  font-size: 1.25rem;
  font-weight: 700;
  color: #e95f62;
  text-decoration: none;
}

.products-cards {
  justify-self: center;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.scrool-arrow{
  width: 40px;
  height: 40px;
  background-color: #e95f62;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 10;
  transform: translate(0, -50%);
  cursor: pointer;
}
.card {
  width: 160px;
  height: 240px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  transition: 0.2s ease;
  cursor: pointer;
  position: relative;
}
.card:hover {
  transform: scale(1.05);
  z-index: 3;
}
.product-img {
  width: 160px;
  height: 160px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px 12px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wavy img{
  width: 100px;
  position: absolute;
  top: 5%;
  right: 7%;
  transform: translate(50%,-50%);
}
.wavy span{
  color: #fff;
  position: absolute;
  top: 4%;
  right: 6%;
  transform: translate(50%,-50%);
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
}
.product-details {
  width: 100%;
  height: 80px;
  background-color: #f0f0f0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 12px 12px;
  padding:  0.3rem 0.563rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-details p {
  display: flex;
  justify-content: space-between;
}
.product-name {
  width: 80%;
  height: 29px;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 15px;
  overflow: hidden;
}
.product-weight {
  font-size: 0.7rem;
  font-weight: 600;
  color: rgb(0, 189, 0);
}
.product-details div{
  display: flex;
  justify-content: space-between;
}
.prices{
  display: flex;
  flex-direction: column;
}
.old-price{
  font-size: 0.688rem;
  font-weight: 400;
  text-decoration: line-through;
  color: rgb(126, 126, 126);
}
.product-price {
  font-size: 0.8rem;
  font-weight: 400;
  font-weight: 600;
}
.add-btn{
  width: 68px;
  height: 33px;
  outline: none;
  border: solid #e95f62 1px;
  border-radius: 5px;
  color: #e95f62;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

.remove-add{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#remove{
  font-size: 20px;
}
.un-visible{
  display: none;
}
.visible{
  display: block;
}

.category {
  height: 319px;
  margin-bottom: 60px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.category-items {
  display: flex;
  justify-content: space-evenly;
}
.category-items img {
  width: 12%;
}
.cleaning-products {
  display: flex;
  justify-content: space-evenly;
}
.ad {
  width: 451px;
  height: 461px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ad img {
  width: 100%;
  height: 100%;
}

.cleaning-cards {
  width: 63%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.cleaning-cards .card {
  width: 160px;
  height: 240px;
  margin-right: unset;
}

.discount-offer {
  display: flex;
  flex-direction: column;
}
.offers-img {
  display: flex;
  justify-content: space-evenly;
}
.offers-img img {
  width: 16%;
}

.snacks-frozen {
  margin-top: 79px;
}

.rectangles-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 10px;
  margin-bottom: 59px;
}
.rectangles-2 img {
  width: 48%;
}

.last-rectangle {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 68px;
}
.last-rectangle img {
  width: 98%;
}
.last-rectangle a {
  position: absolute;
  left: 23%;
  bottom: 15%;
  text-decoration: none;
  color: #fff;
  background-color: #e95f62;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

footer {
  display: flex;
  height: 454px;
  justify-content: space-evenly;
  background-color: #fff;
  padding-top: 4.188rem;
  padding-bottom: 20px;

}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo img:nth-child(1) {
  margin-bottom: 15px;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
footer li {
  margin-bottom: 15px;
}
footer a {
  text-decoration: none;
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
  transition: 0.2s ease;
}
footer a:hover {
  color: #e95f62;
}
.ul-title {
  font-size: 1.688rem;
  font-weight: 700;
  margin-bottom: 23px;
}
.contact-us {
  font-size: 1.25rem;
}
.contact-us span {
  font-weight: 700;
}
.social a {
  font-size: 1.875rem;
  margin-right: 5px;
}
.instagram:hover {
  color: #ff0062;
}
.facebook:hover {
  color: rgb(0, 81, 255);
}
.twitter:hover {
  color: rgb(0, 153, 255);
}

.download {
  display: flex;
  column-gap: 14px;
}
.menu-btn{
  display: none;
}
.fa2 {
  color: #e95f62;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  margin-top: 20px;
}

*::-webkit-scrollbar-thumb {
  background-color: #e95f62;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
@media (min-width: 1500px) and (max-width: 2425px){
  nav{
    width: 50%;
  }
  .product-section{
    width: 1450px;
    margin-left: auto;
    margin-right: auto;
  }
  .category{
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .cleaning-products{
    justify-content: center;
    margin-bottom: 50px;
  }
  .ad{
    width: 451px;
    height: 461px;
  }
  
  .cleaning-cards {
    width: 1000px;
  }
}
@media(min-width: 1334px) and (max-width: 1396px){
  .card {
    width: 150px;
    height: 214px;
  }
  .product-img {
    width: 150px;
    height: 150px;
  }
  .product-details {
    width: 150px;
  }
  .cleaning-cards {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }
  .cleaning-cards .card {
    width: 150px;
    height: 240px;
  }
  .cleaning-cards .product-img {
    width: 100%;
    height: 150px;
  }
  .cleaning-cards .product-details {
    width: 100%;
    height: 80px;
    margin-right: unset;
  }
}
@media (min-width: 1200px) and (max-width: 1333px) {
  .card {
    width: 142px;
    height: 214px;
  }
  .product-img {
    width: 142px;
    height: 142px;
  }
  .product-details {
    width: 142px;
  }
  .cleaning-cards {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }
  .cleaning-cards .card {
    width: 142px;
    height: 207px;
  }
  .cleaning-cards .product-img {
    width: 142px;
    height: 142px;
  }
  .cleaning-cards .product-details {
    width: 142px;
    margin-right: unset;
  }
}
@media (min-width: 1100px) and (max-width: 1199px) {
  nav li {
    font-size: 1.125rem;
  }
  .select-btn {
    width: 25%;
  }
  .arrow-icon {
    width: 72px;
    height: 72px;
  }
  .arrow-icon i {
    font-size: 1.75rem;
  }
  .carousel-1-products {
    width: 85%;
  }

  .carousel-1-products span {
    width: 107px;
    height: 43px;
    line-height: 18px;
  }
  .card {
    width: 122px;
    height: 204px;
  }
  .product-img {
    width: 122px;
    height: 122px;
  }
  .product-img img {
    width: 80%;
    height: 85%;
  }
  .product-details {
    width: 122px;
    padding: 0.4rem;
  }
  .product-name {
    font-size: 0.6rem;
    line-height: 11px;
  }
  .product-weight {
    font-size: 0.6rem;
    font-weight: 600;
  }
  .cleaning-cards {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }
  .cleaning-cards .card {
    width: 122px;
    height: 197px;
  }
  .cleaning-cards .product-img {
    width: 122px;
    height: 122px;
  }
  .cleaning-cards .product-details {
    width: 122px;
    margin-right: unset;
  }

  .wavy img{
    width: 90px;
    height: 90px;
  }
  .add-btn{
    width: 60px;
  }

}

@media (min-width: 1025px) and (max-width: 1099px) {
  .logo img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }
  .logo span {
    font-size: 1.5rem;
    font-weight: 400;
    color: #e95f62;
  }
  nav li {
    font-size: 1rem;
  }
  nav ul li:nth-child(6) img {
    width: 35px;
  }
  .select-btn {
    width: 25%;
  }
  .arrow-icon {
    width: 72px;
    height: 72px;
  }
  .arrow-icon i {
    font-size: 1.75rem;
  }
  .carousel-1-products img{
    width: 90%;
  }
  .carousel-1-products span {
    width: 107px;
    height: 43px;
    line-height: 18px;
  }
  .card {
    width: 120px;
    height: 204px;
  }
  .product-img {
    width: 120px;
    height: 120px;
  }
  .product-img img {
    width: 80%;
    height: 85%;
  }
  .product-details {
    width: 120px;
    padding: 0.4rem;
  }
  .product-name {
    font-size: 0.6rem;
    line-height: 11px;
  }
  .product-weight {
    font-size: 0.6rem;
    font-weight: 600;
  }

  .cleaning-cards {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }
  .cleaning-cards .card {
    width: 120px;
    height: 185px;
  }
  .cleaning-cards .product-img {
    width: 120px;
    height: 120px;
  }
  .cleaning-cards .product-details {
    width: 120px;
    margin-right: unset;
  }
  .ad{
    width: 30%;
    height: 350px;

  }
  .footer-logo img:nth-child(1) {
    width: 100px;
  }
  .footer-logo img:nth-child(1) {
    width: 120px;
  }
  .ul-title {
    font-size: 1.3rem;
  }
  .contact-us {
    font-size: 1.125rem;
  }
  .wavy img{
    width: 90px;
    height: 90px;
  }
  .add-btn{
    width: 55px;
    height: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .head-container {
    padding: 0 0.625rem;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .logo span {
    font-size: 1.25rem;
    font-weight: 400;
    color: #e95f62;
  }
  nav {
    width: 65%;
    display: flex;
  }
  nav li {
    font-size: 0.875rem;
  }
  nav ul li:nth-child(5) img {
    width: 20px;
  }
  nav ul li:nth-child(6) img {
    width: 30px;
  }
  .select-btn {
    width: 30%;
  }
  .grocery-img {
    height: 320px;
    background-image: url("../images/grocery-app.png");
    margin-bottom: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .grocery-img .img-container {
    align-items: center;
    transform: translate(0, 0);
  }
  .grocery-img .img-container div {
    width: 64px;
    height: 63px;
    margin-bottom: 10px;
  }
  .grocery-img .img-container img{
    width: 42px;
    height: 42px;
  }
  .grocery-img .img-container span {
    font-size: 0.9rem;
    font-weight: 700;
    width: 140px;
    height: 50px;
    text-align: center;
  }
  .carousel-1 {
    height: 200px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.625rem;
    margin-bottom: 63px;
  }
  .arrow-icon {
    width: 40px;
    height: 40px;
  }
  .arrow-icon i {
    font-size: 1.3rem;
  }
  .carousel-1-products {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .carousel-1-products img{
    width: 100%;
  }
  .carousel-1-products span {
    width: 100%;
    height: 43px;
    line-height: 18px;
    font-size: .75rem;
  }
  .card {
    width: 11%;
    height: 200px;
  }
  .product-img {
    width: 100%;
    height: 50%;
  }
  .product-img img {
    width: 100%;
    height: 85%;
  }
  .product-details {
    width: 100%;
    padding: 0.4rem;
  }
  .product-name {
    font-size: 0.5rem;
    line-height: 11px;
    overflow: hidden;
  }
  .product-weight {
    font-size: 0.5rem;
    font-weight: 600;
  }
  .wavy img{
    width: 80px;
    height: 80px;
  }
  .wavy span{
    font-size: 11px;
  }
  .add-btn{
    width: 50px;
    height: 30px;
  }
  .cleaning-cards {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .cleaning-cards .card {
    width: 15%;
    height: unset;
    margin-bottom: 10px;
  }
  .cleaning-cards .product-img {
    width: 100%;
    height: 90%;
  }
  .cleaning-cards .product-details {
    width: 100%;
    margin-right: unset;
  }
  .ad{
    width: 30%;
  height: 250px;

  }
  .sec-2 {
    margin-top: 40px;
  }
  .product-section {
  margin-bottom: 50px;
}
.title h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.title a {
  font-size: 1rem;
  font-weight: 700;
  color: #e95f62;
  text-decoration: none;
}

footer {
  display: flex;
  flex-wrap: wrap;
  height: 454px;
  justify-content: space-evenly;
  background-color: #fff;
  padding-top: 4.188rem;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo img:nth-child(1) {
  width: 80px;
}
.footer-logo img:nth-child(2) {
  width: 100px;
}

footer li {
  margin-bottom: 15px;
}
footer a {
  font-size: 1rem;
}

.ul-title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 23px;
}
.contact-us {
  font-size: 1rem;

}

.social a {
  font-size: 1.875rem;
  margin-right: 5px;
}

.download {
  display: flex;
  column-gap: 14px;
}

  }


@media (min-width: 769px) and (max-width: 900px){
  .grocery-img .img-container {
    align-items: center;
    transform: translate(0, -30px);
  }
}

@media (min-width: 481px) and (max-width: 768px){
  .menu-btn {
    display: block;
    
  }
  .menu-btn i {
    display: block;
    font-size: 30px;
  }
  .menu-btn {
    position: absolute;
    right: 10%;
    z-index: 10;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  nav {
    display: none;
  }
  #click:checked ~ nav {
    display: block;
    position: absolute;
    top: 80px;
    right: -100%;
    width: 45%;
    height: 350px;
    z-index: 10;
    border-radius: 10px;
    padding-top: 1rem;
    background: #e95f61bb;
    color: #ffffff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  #click:checked ~ nav {
    right: 10%;
  }
  #click:checked ~ nav ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 
  }
  #click:checked ~ nav ul li img {
    filter: invert(100%);
  }
  #click:checked ~ nav .sign {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40%;
  }

  
  nav ul li:nth-child(6) p {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  nav ul li:nth-child(6) span:nth-child(1) {
    font-size: 1.125rem;
    font-weight: 400;
  }
  nav ul li:nth-child(6) span:nth-child(2) {
    font-size: 0.688rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
  nav ul li{
    transition: 0.2s ease;
    cursor: pointer;
    width: 100%;
    display: flex;justify-content: center;
    height: 50px;
    border-radius: 10px;
  }
  nav ul li:hover{
    background-color: #8f54a0;
  }

  header{
    margin-bottom: 20px;
  }
  .head-container {
    padding: 0 0.625rem;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .logo span {
    font-size: 1.25rem;
    font-weight: 400;
    color: #e95f62;
  }
  
  .bars{
    flex-direction: column;
    height: 200px;
    align-items: center;
  }

  .label-1 {
    width: 80%;
    height: 58px;
    position: relative;
  }
  
  .select-btn {
    width: 60%;
    height: 50px;
    background-color: #e95f62;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .select-btn i {
    color: #fff;
    margin-right: 10px;
  }
  .sec-2 {
    margin-top: 40px;
  }
  .grocery-img {
    height: 320px;
    background-image: url("../images/grocery-app.png");
    margin-bottom: 10px;
    background-size: 770px;
    background-repeat: no-repeat;
  }
  .grocery-img .img-container {
    align-items: center;
    transform: translate(0, -50px);
  }
  .grocery-img .img-container div {
    width: 50px;
    height: 51px;
    margin-bottom: 10px;
  }
  .grocery-img .img-container img{
    width: 32px;
    height: 32px;
  }
  .grocery-img .img-container span {
    font-size: 0.9rem;
    font-weight: 700;
    width: 100px;
    height: 50px;
    text-align: center;
  }
  .carousel-1 {
    height: 400px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.625rem;
    margin-bottom: 63px;
  }
  .arrow-icon {
    width: 40px;
    height: 40px;
  }
  .arrow-icon i {
    font-size: 1.3rem;
  }
  .carousel-1-products {
    width: 80%;
    flex-wrap: wrap;
  }
  .carousel-1-products div {
    width: 25%;
  }
  .carousel-1-products img{
    width: 80%;
  }
  .carousel-1-products span {
    width: 90%;
    height: 43px;
    line-height: 18px;
    font-size: .75rem;
  }
  .offers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .Rectangles {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .Rectangles img {
    width: 453px;
    margin-bottom: 10px;
  }
  .Rectangles img:nth-child(2) {
    width: 453px;
  }
  .carousel-btns {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
  }
  .carousel-btns button {
    width: 13px;
    height: 13px;
  }
  .carousel-btns button:nth-child(3) {
    width: 19px;
    height: 19px;
    background: rgba(23, 23, 23, 0.7);
  }
  .product-section{
    width: 481px;
    margin-left: auto;
    margin-right: auto;
  }
  .products-cards {
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    column-gap: unset;
  }
  .card {
    width: 202px;
    height: 264px;
  }
  .product-img {
    width: 100%;
    height: 202px;
  }
  .product-img img {
    /* width: 100%;
    height: 85%; */
  }
  .product-details {
    width: 100%;
    height: 30%;
    padding: 0.4rem;
  }
  .product-name {
    font-size: 0.75rem;
    line-height: 15px;
    overflow: hidden;
  }
  .product-weight {
    font-size: 0.75rem;
    font-weight: 600;
  }


  .category {
    height: unset;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }
  .category-items {
    width: 481px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .category-items img {
    width: 35%;
    margin: 10px 0;
  }
  .cleaning-products{
    flex-direction: column;
    align-items: center;
  }
  .cleaning-cards {
    width: 481px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
    column-gap: unset;
  }
  .cleaning-cards .card {
    width: 202px;
    height: 264px;
  }
  .cleaning-cards .product-img {
    width: 100%;
    height: 202px;
  }
  .cleaning-cards .product-details {
    width: 100%;
    margin-right: unset;
  }
  .ad{
    width: 451px;
    margin-bottom: 20px;
  }

  .product-section {
  margin-bottom: 50px;
}
.title h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.title a {
  font-size: 1rem;
  font-weight: 700;
  color: #e95f62;
  text-decoration: none;
}
.discount-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.offers-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.offers-img img {
  width: 31%;
}

.rectangles-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 59px;
}
.rectangles-2 img {
  width: 90%;
}

.last-rectangle img {
  width: 90%;
}

footer {
  display: flex;
  flex-wrap: wrap;
  height: unset;
  justify-content: space-evenly;
  background-color: #fff;
  padding-top: 4.188rem;
  column-gap: 10px;

}
.footer-logo {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.footer-logo img:nth-child(1) {
  width: 80px;
}
.footer-logo img:nth-child(2) {
  width: 100px;
}

footer li {
  margin-bottom: 15px;
}
footer a {
  font-size: 1rem;
}

.ul-title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 23px;
}
.contact-us {
  font-size: 1rem;

}

.social a {
  font-size: 1.875rem;
  margin-right: 5px;
}

.download {
  display: flex;
  column-gap: 14px;
}
}
@media (min-width: 375px) and (max-width: 480px){
  .menu-btn {
    display: block;
  }
  .menu-btn i {
    display: block;
    font-size: 25px;
  }
  .menu-btn {
    position: absolute;
    right: 10%;
    z-index: 10;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  .fa-bars{
    font-size: 25px !important;
  }
  nav {
    display: none;
  }
  #click:checked ~ nav {
    display: block;
    position: absolute;
    top: 80px;
    right: -100%;
    width: 55%;
    height: 350px;
    z-index: 10;
    border-radius: 10px;
    padding-top: 1rem;
    background: #e95f61bb;
    color: #ffffff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  #click:checked ~ nav {
    right: 10%;
  }
  #click:checked ~ nav ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 
  }
  #click:checked ~ nav ul li img {
    filter: invert(100%);
  }
  #click:checked ~ nav .sign {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40%;
  }

  
  nav ul li:nth-child(6) p {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  nav ul li:nth-child(6) span:nth-child(1) {
    font-size: 1.125rem;
    font-weight: 400;
  }
  nav ul li:nth-child(6) span:nth-child(2) {
    font-size: 0.688rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
  nav ul li{
    transition: 0.2s ease;
    cursor: pointer;
    width: 100%;
    display: flex;justify-content: center;
    height: 50px;
    border-radius: 10px;
  }
  nav ul li:hover{
    background-color: #8f54a0;
  }

  header{
    margin-bottom: 20px;
  }
  .head-container {
    padding: 0 0.625rem;
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .logo span {
    font-size: 1.25rem;
    font-weight: 400;
    color: #e95f62;
  }
  
  .bars{
    flex-direction: column;
    height: 200px;
    align-items: center;
  }

  .label-1 {
    width: 90%;
    height: 50px;
    position: relative;
  }
    .label-1 .fa-magnifying-glass {
    position: absolute;
    left: 18px;
    top: 15px;
    font-size: 1.25rem;
    color: gray;
  }
  .label-1 .fa-bars{
    position: absolute;
    right: 18px;
    top: 15px;
    font-size: 1.25rem;
    color: gray;
  }

  .select-btn {
    width: 65%;
    height: 50px;
    background-color: #e95f62;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .select-btn i {
    color: #fff;
    margin-right: 10px;
  }
  .sec-2 {
    margin-top: 40px;
  }
  .grocery-img {
    height: 320px;
    background-image: url("../images/grocery-app.png");
    margin-bottom: 10px;
    background-size: 480px;
    background-repeat: no-repeat;
  }
  .grocery-img .img-container {
    align-items: center;
    transform: translate(0, -50px);
  }
  .grocery-img .img-container div {
    width: 40px;
    height: 41px;
    margin-bottom: 10px;
  }
  .grocery-img .img-container img{
    width: 30px;
    height: 30px;
  }
  .grocery-img .img-container span {
    font-size: 0.75rem;
    font-weight: 700;
    width: 85px;
    height: 50px;
    text-align: center;
  }
  .carousel-1 {
    height: unset;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0.625rem;
    margin-bottom: 63px;
  }
  .arrow-icon {
    width: 40px;
    height: 40px;
  }
  .arrow-icon i {
    font-size: 1.3rem;
  }
  .carousel-1-products {
    width: 80%;
    flex-wrap: wrap;
  }
  .carousel-1-products div {
    width: 35%;
  }
  .carousel-1-products img{
    width: 80%;
  }
  .carousel-1-products span {
    width: 90%;
    height: 43px;
    line-height: 18px;
    font-size: .75rem;
  }
  .offers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .Rectangles {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .Rectangles img {
    width: 90%;
    margin-bottom: 10px;
  }
  .Rectangles img:nth-child(2) {
    width: 90%;
  }
  .carousel-btns {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
  }
  .carousel-btns button {
    width: 13px;
    height: 13px;
  }
  .carousel-btns button:nth-child(3) {
    width: 19px;
    height: 19px;
    background: rgba(23, 23, 23, 0.7);
  }

  .product-section{
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
    margin-bottom: 25px;
  }
  .title h2 {
    font-size: 1rem;
    font-weight: 700;
  }
  .title a {
    font-size: 1rem;
    font-weight: 700;
    color: #e95f62;
    text-decoration: none;
  }
  
  .products-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: unset;
  }
  .card {
    width: 152px;
    height: 240px;
  }
  .product-img {
    width: 100%;
    height: 152px;
  }
  .product-img img {
    /* width: 100%;
    height: 85%; */
  }
  .product-details {
    width: 100%;
    height: 30%;
    padding: 0.4rem;
  }
  .product-name {
    font-size: 0.75rem;
    line-height: 15px;
    overflow: hidden;
  }
  .product-weight {
    font-size: 0.75rem;
    font-weight: 600;
  }


  .category {
    height: unset;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }
  .category-items {
    width: 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .category-items img {
    width: 35%;
    margin: 10px 0;
  }
  .cleaning-products{
    flex-direction: column;
    align-items: center;
  }
  .cleaning-cards {
    width: 375px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
    column-gap: unset;
  }
  .cleaning-cards .card {
    width: 152px;
    height: 250px;
  }
  .cleaning-cards .product-img {
    width: 100%;
    height: 152px;
  }
  .cleaning-cards .product-details {
    width: 100%;
    margin-right: unset;
  }
  .ad{
    width: 90%;
    height: unset;
    margin-bottom: 20px;
  }

  .product-section {
  margin-bottom: 50px;
}

.discount-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.offers-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.offers-img img {
  width: 40%;
}

.rectangles-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 59px;
}
.rectangles-2 img {
  width: 90%;
}

.last-rectangle img {
  width: 90%;
}

footer {
  display: flex;
  height: unset;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  padding-top: 4.188rem;
  column-gap: 10px;
  padding-bottom: 20px;
}
.footer-logo {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.footer-logo img:nth-child(1) {
  width: 80px;
}
.footer-logo img:nth-child(2) {
  width: 100px;
}
footer ul{
  align-items: center;
}
footer li {
  margin-bottom: 15px;
}
footer a {
  font-size: 1rem;
}

.ul-title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 23px;
}
.contact-us {
  font-size: 1rem;

}

.social a {
  font-size: 1.875rem;
  margin-right: 5px;
}

.download {
  display: flex;
  column-gap: 14px;
}
}

@media (min-width: 250px) and (max-width: 374px){
  .menu-btn {
    display: block;
  }
  .menu-btn i {
    display: block;
    font-size: 15px;
  }
  .menu-btn {
    position: absolute;
    right: 10%;
    z-index: 10;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  .fa-bars{
    font-size: 15px !important;
  }
  nav {
    display: none;
  }
  #click:checked ~ nav {
    display: block;
    position: absolute;
    top: 80px;
    right: -100%;
    width: 70%;
    height: 350px;
    z-index: 10;
    border-radius: 10px;
    padding-top: 1rem;
    background: #e95f61bb;
    color: #ffffff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  #click:checked ~ nav {
    right: 10%;
  }
  #click:checked ~ nav ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 
  }
  #click:checked ~ nav ul li img {
    filter: invert(100%);
  }
  #click:checked ~ nav .sign {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 40%;
  }

  
  nav ul li:nth-child(6) p {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  nav ul li:nth-child(6) span:nth-child(1) {
    font-size: 1.125rem;
    font-weight: 400;
  }
  nav ul li:nth-child(6) span:nth-child(2) {
    font-size: 0.688rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
  nav ul li{
    transition: 0.2s ease;
    cursor: pointer;
    width: 100%;
    display: flex;justify-content: center;
    height: 50px;
    border-radius: 10px;
  }
  nav ul li:hover{
    background-color: #8f54a0;
  }

  header{
    margin-bottom: 20px;
  }
  .head-container {
    padding: 0 0.625rem;
  }
  
  .logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .logo span {
    font-size: .875rem;
    font-weight: 400;
    color: #e95f62;
  }
  
  .bars{
    flex-direction: column;
    height: 200px;
    align-items: center;
  }

  .label-1 {
    width: 90%;
    height: 50px;
    position: relative;
  }
    .label-1 .fa-magnifying-glass {
    position: absolute;
    left: 18px;
    top: 15px;
    font-size: 1.25rem;
    color: gray;
  }
  .label-1 .fa-bars{
    position: absolute;
    right: 18px;
    top: 15px;
    font-size: 1.25rem;
    color: gray;
  }

  .select-btn {
    width: 90%;
    height: 50px;
    background-color: #e95f62;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .select-btn i {
    color: #fff;
    margin-right: 10px;
  }
  .sec-2 {
    margin-top: 40px;
  }
  .grocery-img {
    height: 300px;
    background-image: url("../images/grocery-app.png");
    margin-bottom: 60px;
    background-size: 375px;
    background-repeat: no-repeat;
    flex-wrap: wrap;

  }
  .grocery-img .img-container {
    width: 45%;
    align-items: center;
    transform: translate(0, 50px);
  }
  .grocery-img .img-container div {
    width: 40px;
    height: 41px;
    margin-bottom: 10px;
  }
  .grocery-img .img-container img{
    width: 30px;
    height: 30px;
  }
  .grocery-img .img-container span {
    font-size: 0.75rem;
    font-weight: 700;
    width: 85px;
    height: 50px;
    text-align: center;
  }
  .carousel-1 {
    height: unset;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0.625rem;
    margin-bottom: 63px;
  }
  .arrow-icon {
    width: 30px;
    height: 30px;
  }
  .arrow-icon i {
    font-size: 1.3rem;
  }
  .carousel-1-products {
    width: 80%;
    flex-wrap: wrap;
  }
  .carousel-1-products div {
    width: 35%;
  }
  .carousel-1-products img{
    width: 80%;
  }
  .carousel-1-products span {
    width: 90%;
    height: 43px;
    line-height: 18px;
    font-size: .75rem;
  }
  .offers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .Rectangles {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .Rectangles img {
    width: 90%;
    margin-bottom: 10px;
  }
  .Rectangles img:nth-child(2) {
    width: 90%;
  }
  .carousel-btns {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
  }
  .carousel-btns button {
    width: 13px;
    height: 13px;
  }
  .carousel-btns button:nth-child(3) {
    width: 19px;
    height: 19px;
    background: rgba(23, 23, 23, 0.7);
  }

  .product-section{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .3rem;
    margin-bottom: 25px;
  }
  .title h2 {
    font-size: 1rem;
    font-weight: 700;
  }
  .title a {
    font-size: 0.75rem;
    font-weight: 700;
    color: #e95f62;
    text-decoration: none;
  }
  
  .products-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
    column-gap: unset;
  }
  .card {
    width: 112px;
    height: 240px;
  }
  .product-img {
    width: 100%;
    height: 152px;
  }
  .product-img img {
    /* width: 100%;
    height: 85%; */
  }
  .product-details {
    width: 100%;
    height: 30%;
    padding: 0.4rem;
  }
  .product-name {
    font-size: 0.75rem;
    line-height: 15px;
    overflow: hidden;
  }
  .product-weight {
    font-size: 0.75rem;
    font-weight: 600;
  }


  .category {
    height: unset;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
  }
  .category-items {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .category-items img {
    width: 35%;
    margin: 10px 0;
  }
  .cleaning-products{
    flex-direction: column;
    align-items: center;
  }
  .cleaning-cards {
    width: 250px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 20px;
    column-gap: unset;
  }
  .cleaning-cards .card {
    width: 112px;
    height: 240px;
  }
  .cleaning-cards .product-img {
    width: 100%;
    height: 152px;
  }
  .cleaning-cards .product-details {
    width: 100%;
    margin-right: unset;
  }
  .ad{
    width: 90%;
    height: unset;
    margin-bottom: 20px;
  }

  .product-section {
  margin-bottom: 50px;
}

.discount-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.offers-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.offers-img img {
  width: 45%;
}

.rectangles-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 59px;
}
.rectangles-2 img {
  width: 90%;
}

.last-rectangle img {
  width: 95%;
}

footer {
  display: flex;
  height: unset;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  padding-top: 4.188rem;
  column-gap: 10px;
  padding-bottom: 20px;
}
.footer-logo {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.footer-logo img:nth-child(1) {
  width: 80px;
}
.footer-logo img:nth-child(2) {
  width: 100px;
}
footer ul{
  align-items: center;
}
footer li {
  margin-bottom: 15px;
}
footer a {
  font-size: 1rem;
}

.ul-title {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 23px;
}
.contact-us {
  font-size: 1rem;

}

.social a {
  font-size: 1.875rem;
  margin-right: 5px;
}

.download {
  display: flex;
  column-gap: 14px;
}
}